<div  ng-controller="mainController" ng-init="init()">
<img id="pleasewait" src="img/PleaseWait.gif">
<div id="SL_MarketingMsg">
	<img src="img/marketingMsg.png" />
</div>
<div id="scrollcontainer">
	<div id="CarouselWrapper" ng-iscroll="wrapper">
	        <div id="scroller" style="width:{{scrollerWidth}};">
                <div ng-repeat="slide in slides" style="float:left;">
					<div ng-repeat="retailer in slide" style="float:left;">
						<div class="action-retailer SL_retailer_logo"  style="background-image:url(//akimages.shoplocal.com/dyn_li/160.160.85.0/retailerlogos/{{retailer.PRetailerLogoLocation}});" 
						data-retailerid="{{retailer.RetailerID}}"  data-index="{{$index}}"
						data-heropromocode = {{retailer.PromotionCode}} data-storeid = {{retailer.StoreID}} 
						ng-click = "openPromotionPage(retailer.RetailerID, retailer.StoreID, retailer.PromotionCode)"
						></div>
					</div>
                </div>
	        </div>
	    </div>
	</div>
</div>


<div id="promocontent" style="display:none;">
	<img id="pleasewait" src="img/PleaseWait.gif" width="200px;">	
	<div class="SL_adHeader">
		<img src="//akimages.shoplocal.com/dyn_li/160.160.85.0/retailerlogos/href="http://localhost/#/listingid:{{hotspot.Listings[0].ID}}/storeid:{{storeid}}"" />
		<!-- <div>{{retailer.PromotionTitle}}</div> -->
		<p> Deals in your Area:<a href="" class="Show Location"> 60601 <span>(view location)</span></a></p>
	</div>
	<div class="SL_adSubHeader">
		<img src="img/grey-time.png" alt="timer icon">
		<p>{{retailer.FormattedPromotionPostStartDate}} - {{retailer.FormattedPromotionPostEndDate}}</p>
		<!-- <p>swipe to view pages</p> -->
	</div>

	<!-- 	<div class="hero-controls">
		<div class="prev"  ng-click="goHeroPromoBack()">Prev</div>
		<div class="next" ng-click="goHeroPromoForward()" >Next</div>
	</div> -->

	<div id="PromotionPageCarouselWrapper" ng-iscroll="wrapper-hero">
	    <div id="scroller" >
	        <div ng-repeat="page in pages" style="float:left;">
				<img class="hero-promoImage" id="heropromo_{{page.ID}}"  src="{{page.ImageLocation}}" usemap="#pagemap_{{page.ID}}"/>
				<map id="pagemap_{{page.ID}}" name="pagemap_{{page.ID}}">
							  <area shape="{{hotspot.ShapeString}}" coords="{{hotspot.adjcoordinates}}" href="http://localhost/#/listingid:{{hotspot.Listings[0].ID}}/storeid:{{storeid}}/retailerid:{{retailer.RetailerID}}/promotioncode:{{retailer.PromotionCode}}"  ng-repeat="hotspot in page.HotSpots" style="background-color:red;" alt="test">
				</map>
				<div ng-switch on="{{page.drawHotSpots}}">
				    <div ng-switch-when="0">
				    </div>
				    <div ng-switch-default>
						
				    </div>
				</div>
	        </div>
	    </div>
	</div>
	
	<div id="noadds" style="display:none;">Sorry no adds available for store</div>
</div>