<div class="itemDetail" ng-controller="detailController" ng-init="init()">
	<a href="need_back_link"> &raquo; go back</a>
	<img src="hard_coded_img.png" />

	<p class="SL_DealDescription"> 
		Buy the Pair only $997
		<span class="SL_PriceQualifier"> Or Less</span>
	</p>
	<p class="SL_OriginalDeal">Used to be $1200</p>
	<h1 class="SL_ItemTitle">Frigidaire Front Loading Washer with Electronic Control and Electric Dryer with 7.0 Cu. Ft. Capacity</h1>
	<p class="SL_ItemDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, sapiente, eveniet, animi ipsum fuga odio fugit iste minima minus suscipit quaerat nihil natus nam libero aut quidem delectus. Repudiandae, molestiae!
	</p>
	<div class="SL_ItemShare">
		<a href="fb-share">FB</a>
		<a href="email-share">Email</a>

	</div>

</div>