<div class="heroPromotion" ng-controller="retailerController" ng-init="init()" style="height:100px;">
	<img id="pleasewait" src="img/PleaseWait.gif" width="200px;">
	
	<div class="SL_adHeader">
		<img src="http://akimages.shoplocal.com/dyn_li/160.160.85.0/retailerlogos/{{retailer.PRetailerLogoLocation}}" />
		<!-- <div>{{retailer.PromotionTitle}}</div> -->
		<p> Deals in your Area:<a href="" class="Show Location"> 60601 <span>(view location)</span></a></p>
	</div>
	<div class="SL_adSubHeader">
		<p>{{retailer.PromotionStartDateString}} - {{retailer.PromotionEndDateString}}"</p>
		<!-- <p>swipe to view pages</p> -->
	</div>

	<!-- 	<div class="hero-controls">
		<div class="prev"  ng-click="goHeroPromoBack()">Prev</div>
		<div class="next" ng-click="goHeroPromoForward()" >Next</div>
	</div> -->

	<div id="PromotionPageCarouselWrapper" ng-iscroll="wrapper-hero">
	    <div id="scroller">
	        <div ng-repeat="page in pages" style="float:left;">
					<img class="hero-promoImage" src="{{page.ImageLocation}}"/>
	        </div>
	    </div>
	</div>
	
	<div id="noadds" style="display:none;">Sorry no adds available for store</div>

</div>