#hero-promotion {
    position:absolute;
    background:#F3F3F3;
}
#CarouselWrapper {
    position: relative;
    width: 200px;
    float:right;
    z-index: 100;
}
#SL_MarketingMsg {
    width:120px;
    float:left;
}
#closeBtn {
    position:absolute;
    top:6px;
    left:2px;
    height:18px;
    width:18px;
    background:url(../img/Close.png) no-repeat top left;
    overflow:hidden;
    text-indent:-99px;
    cursor:pointer;

}
#CarouselWrapper #scroller {
    /*banner scroller*/
    height: 100%;
    width:10000px;
    position:relative;
}
.SL_retailer_logo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
#scroller .SL_retailer_logo {
    height:40px;
    margin: 5px 10px;
    width: 80px;
    cursor: pointer;
}
.SL_adHeader {
    height:30px;
    overflow:hidden;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background:white;
}
.SL_adHeader img {
    max-width:80px;
    max-height:20px;
    float:left;
    margin:5px 10px 5px 30px;   
}
.SL_adHeader p {
    float:left;
    margin:0;
    line-height:30px;
}
.SL_adHeader a span {
    font-size:9px;
}
.SL_adSubHeader {
    height:20px;
}
.SL_adSubHeader p {
    margin:0;
    line-height:20px;
}
.controls {
    width:300px;
}
#PromotionPageCarouselWrapper {
    position: relative;
    width: 300px;
    z-index: 100;
    top:0;
    left:10px;
    border:1px solid #ccc;
}
#PromotionPageCarouselWrapper #scroller {
    width:10000px;
}




