#CarouselWrapper {
    position: relative;
    width: 200px;
    float:right;
    z-index: 100;
}
#SL_MarketingMsg {
    width:120px;
    float:left;
}

#scroller {
    height: 100%;
    position:relative;
}

/*.carousel-control {
    background-color: transparent;
    background-image: url("../img/MeijerWidget_Sprite.png");
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 0 0 0 0;
    height: 34px;
    opacity: 1;
    outline: medium none;
    overflow: hidden;
    text-indent: -99px;
    width: 34px;
    position:absolute;
    cursor: pointer;
    top:51px;
    z-index: 102;
    }
.prev {
    float:left;
    cursor: pointer;
}
.next {
    float:right;
    cursor: pointer;
}
.carousel-control:hover {
    opacity:0.6;
}
*/

.retailer_logo {
    background-position: center center;
    background-repeat: no-repeat;
    height:40px;
    background-size: contain;
    margin: 5px 10px;
    width: 80px;
    cursor: pointer;
}

.controls{
    width:300px;
}

.hero-controls
{
    postion:absolute;
    width:300px;
    heigh:25px;
    top:0px;
    z-index: 100;
}



.heroPromotion{
    postion:absolute;
    line-height: 20px;    
}

#PromotionPageCarouselWrapper{
    position: relative;
    width: 300px;
    z-index: 100;
    top:20px;
}



/*mike styles*/
#hero-promotion {
    position:absolute;
    height:500px;
    background:red;
}